/* ------------- STARTER ------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #252934F1;
    background-image: url("https://source.unsplash.com/3840x2160/?mountain,forest/");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}


/* ------------- TRANSITIONS AND SHADOWS ------------- */

a,
a:visited,
a:hover {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}


/* ------------- CONTAINER STYLING ------------- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    min-width: 100vh;
}


/* ------------- LINK STYLING ------------- */

a,
a:visited {
    color: #6C7789;
    font-size: 90px;
    color: rgba(0, 0, 0, 0);
    filter: grayscale(0%);
    margin: 5%;
}

a:hover {
    color: white;
}

a:not(:hover) {
    transition: opacity 1s;
    filter: grayscale(75%);
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

.box .box-container .link {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    padding: 2% 0% 2% 0%;
    text-align: center;
}


/* ------------- TIME STYLING ------------- */

.container .time {
    font-family: 'Ubuntu', sans-serif;
    font-size: 124px;
    margin-bottom: 5%;
    text-shadow: 2px 2px #2E3441;
}


/* ------------- BOX STYLING ------------- */

.box {
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
}

.box-container {
    width: 80%;
    height: 10%;
    border-radius: 5px;
    margin-bottom: 5%;
}


/* ------------- WAVE ANIMATION ------------- */

.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-width: 100vh;
    height: 15vh;
    min-height: 10vh;
    max-height: 15vh;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
    h1 {
        font-size: 24px;
    }
}


/* ------------- MEDIA QUERY ------------- */

@media only screen and (max-width: 985px) {
    .box-container:nth-child(4),
    .box-container:nth-child(3) {
        margin-top: 50px;
    }
    .box .box-container:nth-child(2),
    .box .box-container:nth-child(4) {
        margin-right: 0;
    }
    .box {
        width: 30%;
    }
}


/* ------------- FA STYLING ------------- */

.youtube i {
    color: #e52d27;
}

.torii i {
    color: #81a2be;
}

.kaleidosync i {
    color: #1DB954;
}

.twitch i {
    color: #6441a5;
}

.anime i {
    color: #1069DB;
}

.github i {
    color: #9CDAF1;
}

.reddit i {
    color: #FF5700;
}

.outlook i {
    color: #0072C6;
}

.office i {
    color: #DC3E15;
}