html
{
        margin: -1px;
        border: -1px;
        padding: -1px;
}
body
{
        background: url('images/back1.gif');
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Press Start 2P', cursive;
}
::-webkit-scrollbar {display: none;}
ul
{
        display: block;
        width: 25%;
        margin: 18% auto;
        padding: 0;
        list-style: none;
}
ul.container {box-shadow: 0px 0px 0px #000;}
ul.submenu
{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        background:rgba(40,119,103,.87);
        text-align: left;
}
a
{
        display: block;
        padding: 10px;
        color: #EEE;
        text-decoration: none;
        transition: all .3s ease;
        opacity: .5;
}
a:hover {color: #fff;transition: all .3s ease;}
a.parent {transition: all .3s ease;color: #fff;background: #201C31;text-align: center;}
a.tab {transition: all .3s ease;opacity: 0.5;}
a.tab:hover {transition: all .3s ease;text-indent: 5px;opacity: 1; }
ul > li:hover > a.parent {transition: all .3s ease;opacity: .8;}
