.dark {
  color: #dddddd;
  background-color: #16191a;
  @apply transition-all duration-200 ease-in-out;
}

.light {
  color: #222222;
  background-color: #ffffff
  @apply transition-all duration-200 ease-in-out;
}
