$light-url: 'https://zephyo.github.io/22Days/code/20/graphics/girls2.jpg';
$dark-url: 'https://zephyo.github.io/22Days/code/20/graphics/girls1.jpg';

@mixin abs {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right:0;
}

html, body, .dark, .light, #svg-mask {
  @include abs;
}

.dark, .light {
  top: -10px;
  bottom: -10px;
}

body {
  perspective: 500px;
  transition: all 0.4s ease-out;
  overflow: hidden;
  > *{
    transform: translateZ(10px);
  }
}

#svg-mask {
  width: 100%;
  height: 100%;
}


.light {
  animation: horror 18s infinite ease;
  background: #fdf2f4;
  background-image:url($light-url);
  &:after {
    content: '';
    @include abs;
    background: inherit;
    transform: translateX(10px);
    filter: brightness(0.95);
    animation: glitch 8s infinite ease;
  }
}

.dark {
  background: #242525;
  background-image:url($dark-url);
}

.dark, .light {
  z-index: -1;
  background-position: 50% 30%;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes horror {
  10%,32% {
    opacity: 1;
  }
  33%,34% {
    opacity: 0.2;
  }
  35%, 95% {
    opacity: 1;
    
  }
  96%,100% {
    opacity: 0;
  }
}

@keyframes glitch {
  $steps:10;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(300)+px,9999px,random(300)+px,0);
    }
  }
}



